{% extends "base.html" %}

{% block title %}Register | Exam Project{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">

            <div class="auth-icon">+</div>

            <h1>Create your account</h1>

            <p>
                Join the community and start creating articles.
            </p>

        </div>


        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}


        <form method="POST" class="auth-form">

            {% csrf_token %}


            <div class="form-group">

                <label for="username">
                    Username
                </label>

                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Choose a username"
                    required
                >

            </div>


            <div class="form-group">

                <label for="email">
                    Email address
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="you@example.com"
                    required
                >

            </div>


            <div class="form-group">

                <label for="password">
                    Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Create a password"
                    required
                >

            </div>


            <div class="form-group">

                <label for="password_confirm">
                    Confirm password
                </label>

                <input
                    type="password"
                    id="password_confirm"
                    name="password_confirm"
                    placeholder="Repeat your password"
                    required
                >

            </div>


            <button type="submit" class="primary-button">
                Create account
            </button>

        </form>


        <div class="auth-footer">

            <p>
                Already have an account?
                <a href="{% url 'login' %}">Sign in</a>
            </p>

        </div>

    </div>

</div>

{% endblock %}